<p id="notice"><%= notice %></p>

<h1>Complete your tasks</h1>

<table>
  <thead>
    <tr>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        
    <% end %>
  </tbody>
</table>


<div class="center">
  <ul class="current">
    <li><%= link_to 'タスクを投稿', new_blog_path %></li>
    <li><%= link_to '検索画面に移る', blogs_search_path %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  </ul>  

<br>
<br>


<br>
<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
<br>
