<html>
<head>
<%= stylesheet_link_tag 'top.index', :media => "all" %>
</head>

<p id="notice"><%= notice %></p>

<div class="header1">
  <div class="header-logo">Complete your tasks</div>
  <div class="header-menu">

    <a href="/blogs/new">タスクを投稿</a>
    <a href="/blogs/search">検索画面に移る</a>
    <a href="/users/show">マイページ</a>
  </div>  
</div>

<table>
  <thead>
    <tr>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        
    <% end %>
  </tbody>
</table>



<br>
<br>


<br>
<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
<br>
<footer>

  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"menu" %>

</footer>
</html>