<head>
<%= stylesheet_link_tag 'blogs.new', :media => "all" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>


<div id="loader-bg">
  <div id="loader">
    <img src="/assets/calender.png" alt="Now Loading..." />
    <p>Now Loading...</p>
  </div>
</div>
<script>
$(function() {
  var h = $(window).height();
  
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
  
$(window).on('load',function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
  
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',10);
});
  
function stopload(){
  $('#wrap').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>

<div id="wrap">



  <div class="header2">
    <div class="header-logo">Complete your tasks</div>
    <div class="header-menu">
      <a href="/blogs/index"> カレンダーに戻る</a>
    </div>

  </div>  

  <div class="main">
   
  
    <br>

    <%= form_with(model: @blog, local: true) do |form| %>

      
       

      <div class="btn"></div>
      <div class="overlay"></div>
    <div class="contact">
      <h1>投稿画面<span id="close"></span></h1>
      <div class="group"><%= form.text_field :title, class: 'group1' %><label for="title">1日のタイトル</label></div>
      <br>
      <div class="group"><%= form.datetime_select :start_time, class: 'group2' %></div>
      
      <div class="group"><%= form.text_area :content, class: 'group3',:size=>"60x10" %><label for="content">内容</label></div>
      <br>
      <div class="er">
        <%= form.submit "投稿", class: "sumit" %>
      </div>
    </div>   

    <% end %>
    <script>
    $("#close ,.overlay").on('click', function(){
      $(".contact ,.overlay").addClass("hidden");
    })

    $(".btn").on('click', function(){
      $(".contact ,.overlay").removeClass("hidden");
    })
    </script>
  </div>
  <br>

</div>
