<head>
<%= stylesheet_link_tag 'blogs.new', :media => "all" %>
</head>

<body>

<div class="header2">
  <div class="header-logo">Complete your tasks</div>
  <div class="header-menu">
    <a href="/blogs/index"> カレンダーに戻る</a>
  </div>

</div>

<div class="main">
  <div class="moji">投稿画面</div>
    
  
<br>

<%= form_with(model: @blog, local: true) do |form| %>

  <div class="title">
    <div class="text">
    <%= form.label :　1日のタイトル%>
    </div>
    <%= form.text_field :title %>
  </div>
  <br>

  <div class="time">
    <%= form.label :　日付 %>
    <%= form.date_field:date %>
    
  </div>
  <br>
  

  <div class="content">
    <%= form.label :　内容 %>
    <textarea name="in01" col="30" rows="3" maxlength="100" placeholder="内容を入力してくだい">
    </textarea>
  </div>

  <br>
  <div class="submit">
    <%= form.submit  "投稿" %>
  </div>

<% end %>
</div>
<br>


</body>