<p id="notice"><%= notice %></p>


<p>
  <strong>タイトル</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @blog.content %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to '戻る', blogs_path %>

<p>達成できたか出来てないか選択してください</p>
<select id="select">
  <option value="A">達成できた</option>
  <option value="B">達成できなかった</option>
</select>

<div class="a" >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYXJhJtYwYtuXJXgVt4oIDR4YFr0umUjAEvw&usqp=CAU">
</div>

<div class="b">
  <img src="https://ge-mag.up.seesaa.net/image/bakanisuru-c5d4e-thumbnail2.png">
</div>

<script>
const select = document.querySelector("#select")
select.addEventListener("change", () => {
  const b = document.querySelector(".b")
  const a = document.querySelector(".a")
  if (select.value === "A" ) {
    b.style.visibility = "hidden"
    a.style.visibility = "visible"

  } else {
    b.style.visibility = "visible" 
    a.style.visibility = "hidden" 

  }
})
</script>