!!!
%html
  %body
    %p
      タスクを作成
      %input#today{:type => "date"}/
      :javascript
        window.onload = function () {
          var today = new Date();
          today.setDate(today.getDate());
          var yyyy = today.getFullYear();
          var mm = ("0" + (today.getMonth() + 1)).slice(-2);
          var dd = ("0" + today.getDate()).slice(-2);
          document.getElementById("today").value = yyyy + '-' + mm + '-' + dd;
        }
      = form_for @complete do |f|
        .field
          = f.label :task
          = f.text_field :task, :size => 140
        = f.submit "投稿する"
      = link_to "カレンダーに戻る", user_show_path
