<html>
<body>
<h2>タスク一覧</h2>
<h3>検索</h3>
<%= form_tag({controller:"completes",action:"show"}, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索する'  %>
<% end %>

<%= link_to 'カレンダーに戻る',user_show_path %>
<%= link_to 'タスクを投稿', completes_new_path %>
<% if user_signed_in? %>
<%= link_to "マイページへ", user_path(current_user.id) %>　
<% end %>
<div class="completes-container">
  <% @completes.each do |t| %>
    <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>　
    <div class="complete">
      <%= t.task %>
      <%= t.created_at %>
      <%= t.user.email %>
      <%= link_to "達成を登録", complete_path(t.id) %>
      <%= link_to "編集する", edit_complete_path(t.id) %>
      <%= button_to "削除する", complete_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>
</body>
</html>