<h1>Complete your tasks</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.blogs.each do |t| %>
  <%= t.user.name %>
  <%= t.title %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->

<!-- ここまで-->

<%= link_to "投稿一覧に戻る", blogs_search_path %>
<%= link_to "カレンダーに戻る", blogs_index_path %>