<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="loader-bg">
  <div id="loader">
    <img src="/assets/calender.png" alt="Now Loading..." />
    <p>Now Loading...</p>
  </div>
</div>
<script>
$(function() {
  var h = $(window).height();
  
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
  
$(window).on('load',function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
  
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',10);
});
  
function stopload(){
  $('#wrap').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>
<div id="wrap">

  <div class="header1">
          <div class="header-logo">Complete your tasks</div>
          <div class="header-menu">

            <%= link_to "投稿一覧に戻る", blogs_search_path %>
            <%= link_to "カレンダーに戻る", blogs_index_path %>
            <% if current_user.id == @user.id %>
              <%= link_to "編集する", edit_user_registration_path %>
            <% end %>
          </div>  
  </div>
  <div class="m">
    <p>名前 : <%= @user.name %></p>
    <p>メールアドレス : <%= @user.email %></p>
   

    


    <!-- 以下はいいね機能を実装している場合-->

    <!-- ここまで-->


    <br>
    <h2>カレンダー</h2>

    <table>
        <thead>
          <tr>
            
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              
          <% end %>
        </tbody>
      </table>



      
      


      <br>
      <%= month_calendar events: @blogs do |date, blogs| %>
        <%= date.day %>

        <% blogs.each do |blog| %>
          <div>
            <%= link_to blog.title, blog %>
          </div>
        <% end %>
      <% end %>
      
  </div>    
  <div class ="footer">

      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"menu" %>

  </div>
</div>  
</body>
</html>