<!DOCTYPE html>
<body>
<h1>Complete your tasks</h1>
<%= link_to 'マイページ', user_index_path %>
<%= link_to 'タスクを投稿', completes_new_path %>
<%= link_to '見る', completes_show_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        
<p id="notice"><%= notice %></p>

<h1>自分の日記</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completes.each do |t| %>
      <tr>
        <td><%= t.task %></td>
        
        <td><%= link_to 'Show', completes_show_path %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タスクを投稿', completes_new_path %>

<%= month_calendar events: @completes do |date, completes| %>
  <%= date.day %>

  <% completes.each do |t| %>
    <div>
      <%= link_to t.task, complete %>
    </div>
  <% end %>
<% end %>        
</body>
