<html>
<head>
<%= stylesheet_link_tag 'users.registrations.new', :media => "all" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="loader-bg">
  <div id="loader">
    <img src="/assets/calender.png" alt="Now Loading..." />
    <p>Now Loading...</p>
  </div>
</div>
<script>
$(function() {
  var h = $(window).height();
  
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
  
$(window).on('load',function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
  
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',10);
});
  
function stopload(){
  $('#wrap').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>

<div id="wrap">
  <div class="header1">
    <div class="header-logo">Complete your tasks</div>
    <div class="header-menu">

      <a href="/users/sign_in">ログイン</a>
      
    </div>  
  </div>

  
  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <!--サインアップ時に名前を入力できるようにフォームを追加-->
    
    
    <div class="form-wrapper">
      <h1>新規登録</h1>
      <div class="actions">
        <div class="form-item">
          <label for="user"></label>
          <%= f.text_field :name, autofocus: true,class: 'me-ru', :placeholder => "ユーザー名" %>
        </div>
        <div class="form-item">
          <label for="email"></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'me-ru', :placeholder => "メール"  %>
        </div>
        <div class="form-item">
          <label for="password"></label>
          <% if @minimum_password_length %>
            <em>パスワード<%= @minimum_password_length %> は文字以上</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" ,class: 'me-ru', :placeholder => "パスワード" %>
        </div>
        <div class="password2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'me-ru', :placeholder => "確認用パスワード"  %>
        </div>
        <div class="button-panel">
          <%= f.submit "登録する" %>
        </div>
      </div>
    </div>  
  <% end %>

  </div>
</div>  
</body>
</html>